<ion-view cache-view="false" >

	<ion-nav-bar class="top-bar ">
		<ion-nav-back-button ng-click="previousView()">    
		</ion-nav-back-button>	  	
		<ion-nav-title>
			<h1 class="title light">Password reset</h1>
		</ion-nav-title>
	</ion-nav-bar> 
	
<ion-content class="ion-content-block page-signUp" has-bouncing="false" scroll="false">
		<div class="row">
			<div class="col item-input"><input ng-model="forgotObj.email" type="text" placeholder="Email *"></div>
		</div>
		<div class="row">
			<div class="col item-input"><input ng-model="forgotObj.password" type="password" placeholder="New password *"></div>
			<div class="col item-input"><input ng-model="forgotObj.password_repeat" type="password" placeholder="New password *"></div>
		</div>
	<div class="padding">
	     <button class="rw-button rw-button-purple" ng-click="forgotPasswordSubmit()">Reset</button>			  	
	</div>

</ion-content>
</ion-view>
