<!--join with forgotPasswordSubmitted.html-->
<ion-view hide-back-button="true">
	<ion-nav-bar class="top-bar ">
		<ion-nav-title>
			<h1 class="title light">Confirmation Required</h1>
		</ion-nav-title>
	</ion-nav-bar> 
	
<ion-content class="ion-content-block page-signUp" has-bouncing="false" scroll="false">
	
	<div class="card">
	  <div class="item item-text-wrap">
	    All good! We sent you an email to confirm your request. After that you can start using Reviyou!
	  </div>
	</div>

	<div class="padding">
		<button  class="rw-button rw-button-purple"  ui-sref="blank.login">Back to Login</button>
	<div>	
</ion-content>
</ion-view>
