<ion-view>

	<ion-nav-title>
		<h1 class="title light">Success</h1>
	</ion-nav-title>	


<ion-content class="ion-content-block container-fluid" has-bouncing="false" scroll="false">

<div class="page page-createprofile">

	<div class="card">
	  <div class="item item-text-wrap">
		  This person will be receiving an email soon to approve your request.
			After that you'll have new created profile in your bookmarks.
			We'll notify you by email when he approves this profile.
			You can always disable email notifications from "Settings" tab.
	  </div>
	</div>
	

</div>

	<button class="rw-button rw-button-purple rw-button-icon" ui-sref="tabs.popular" >Home</button>

</ion-content>
</ion-view>
